<div class="wrapper">
    <h1 class="arrow"><a [routerLink]="['/home']">&#8592;</a></h1>
    <h1 class="title">Future</h1>
    <h2>Internship</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat facere doloremque maxime quaerat perferendis, esse explicabo ipsa. Impedit, blanditiis? Iure fugiat soluta vel, veniam necessitatibus perferendis est quibusdam ex debitis?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem suscipit odio incidunt nesciunt maiores assumenda magni quae blanditiis consequatur cumque numquam, rerum dolore quibusdam beatae voluptatum quam non eius atque.</p>
    <h2>Job</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut corrupti sequi, tempora quo odio dolores, odit ratione totam quod voluptates eligendi nostrum asperiores sunt quos doloremque expedita quia beatae consectetur.</p>
</div>
