.kader
{
    position: absolute;
    width: 1300px;  
    height: 700px; 
    border: black 2px solid; 
}

.img1
{
    width: 10%;
    position: absolute;
    top: 378.00px;
    left:918.00px;
    margin: 0px;
    z-index: 2;
}

p
{
    position: absolute;
    font-size: 14em;
    top: 221px;
    left:108px;
    margin: 0px;
    z-index: 3;
    font-family: 'Playfair Display', serif;
    
    
}
.test
{
    width: 1300px;  
    height: 700px; 
    margin-left: auto;
    margin-right: auto;
}

span{
    z-index: 1;
}

.img2
{
    position: absolute;
    width: 297.99px;
    top: 17.00px;
    left:129.00px;
}