*
{
    font-family: 'Playfair Display', serif;
}

p
{
    font-family: 'Source Sans Pro', sans-serif;
}

.kader
{
    position: absolute;
    width: 1300px;  
    height: 700px; 
    border: black 2px solid; 
}

#img1
{
    width: 10%;
    position: absolute;
    top: 378.00px;
    left:918.00px;
    margin: 0px;
    z-index: 2;
}

#titel
{
    position: absolute;
    font-size: 14em;
    top: 201px;
    left:167px;
    margin: 0px;
    z-index: 3;
    font-family: 'Playfair Display', serif;
    
    
}
.test
{
    width: 1300px;  
    height: 700px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}


.img2
{
    position: absolute;
    width: 297.99px;
    top: 80.00px;
    left:129.00px;
}

.text
{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.deventer
{
    position: absolute;
    top: 328px;
    left:368px;
    z-index: 2;
}

.hogent
{
    position: absolute;
    top: 328px;
    left:468.00px;
    z-index: 4;
}