#languageDiv
{
    position: fixed;
    left: 0px;
    top:0px;
    z-index: 8;
}


a
{
    border: 1.2px black solid;
    border-radius: 5px;
    padding: 0.7rem;
    margin-right: 10%;
    margin-left: 10%;
}

a:hover
{
    text-shadow: 1.5px 1.5px #ff5757, -1.5px -1.5px #00ffea;
    box-shadow: 1.5px 1.5px #ff5757, -1.5px -1.5px #00ffea;
}

@media screen and (max-width: 768px)
{
    #languageDiv
    {
        top:unset;
        bottom: 0px;
    }
}
