<div class="wrapper">
    <h1 class="arrow"><a [routerLink]="['/home']">&#8592;</a></h1>
    <h1 class="title" id="projectsTitle">Projects</h1>
    <h2 id="past">Past</h2>
    <h3 id="bikeapp" (mouseenter)="changeImg('web')" (mouseleave)="resetImg()">BikeApp</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quibusdam, officiis assumenda perferendis optio sed iure labore expedita minus est corrupti repellendus modi eaque quod, culpa repudiandae aperiam perspiciatis reprehenderit.</p>
    <h2 id="present">Present</h2>
    <h3 id="madonna">Madonna</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consequuntur quisquam voluptas iure aliquid harum aspernatur assumenda excepturi, aperiam sed minima distinctio dolores? Officia necessitatibus harum nesciunt, impedit maiores voluptates!</p>
    <h3 id="merel">Merel</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit aspernatur quibusdam nobis quia. Veniam fugiat, cum optio alias id reiciendis vero ab quam hic enim aperiam nemo atque ex totam.</p>
</div>
