#foto
{
    width: 45%;
    min-height: 100vh;
    max-height: 100vh;
    margin-left: -2%;
    z-index: 4;
    overflow: hidden;
    display: flex;
    justify-content: center;
    opacity: 1;
    transition: opacity 1s ease-in;
    
}

#text
{
    width: 60%;
    background-color: white;
    background-clip: padding-box;
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100vh;
    -ms-overflow-style: none;
    z-index: 5;
    border-right: 40px transparent dotted;
    border-image-source: url("/assets/test2.png");
    border-image-outset: 0;
    border-image-slice: 30% 30% 0 0;
    border-image-repeat: repeat; 
    
}
#text::-webkit-scrollbar
{
    display: none;
}
#wrapper
{
    display: flex;
    background-color: white;
}

#img
{
    
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
 
  
  
}
@media screen and (max-width: 768px)
{

    #text
    {
        width: 100%;
        overflow-y: unset;
        border-right: 0px;
        border-top: 40px transparent solid;
        min-height: 0;
    }   
    #foto
    {
        min-height: 50vh;
        max-height: 50vh;
        min-width: 100vw;
        margin-left: 0;
        margin-bottom: -2%;
       
        
    }

    #img
    {
        min-height: 50vh;
        min-width: 100vw;
    }

    #wrapper
    {
        flex-direction: column-reverse;
    }
    
}