@import "./imports.css";

.club-sofa {
  .project-page_grid_title {
    grid-row: 1 / 5;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 1 / 3;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-column: 1 / 13;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-column: 3 / 17;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: 3 / 15;
    }
  }

  .project-page_grid_category {
    &.first {
      grid-row: 5 / 6;
      @apply pt-thick pb-thin;

      @media (min-width: theme(--breakpoint-xs)) {
        grid-row: 3 / 4;
      }

      @media (min-width: theme(--breakpoint-sm)) {
        grid-row: 1 / 2;
      }
    }

    &.second {
      grid-row: 6 / 7;
      @apply pt-thin pb-thick;

      @media (min-width: theme(--breakpoint-xs)) {
        grid-row: 4 / 5;
      }

      @media (min-width: theme(--breakpoint-sm)) {
        grid-row: 2 / 3;
      }
    }
  }

  .project-page_grid_icon {
    grid-row: 5 / 7;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 3 / 5;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-row: 1 / 3;
    }
  }

  .project-page_grid_description {
    grid-row: 7 / 13;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 5 / 11;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-row: 5 / 13;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-row: 5 / 11;
    }
  }

  .image-1 {
    grid-column: 2 / -2;
    grid-row: 14 / 22;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 12 / 24;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 12 / 26;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-column: 2 / 10;
      grid-row: 16 / 24;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: 4 / 11;
      grid-row: 13 / 20;
    }
  }

  .video-1 {
    grid-column: 2 / -2;
    grid-row: 23 / 27;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 25 / 31;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 27 / 35;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-column: 12 / -2;
      grid-row: 16 / 24;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: 13 / -4;
      grid-row: 13 / 20;
    }
  }

  .video-2 {
    grid-column: 1 / -1;
    grid-row: 28 / 34;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 32 / 40;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 36 / 46;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-column: 2 / -2;
      grid-row: 26 / 36;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: 4 / -4;
      grid-row: 22 / 32;
    }
  }

  .paragraph-1 {
    grid-row: 34 / 42;
    @apply p-thin;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 40 / 48;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 46 / 52;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-column: 14 / -2;
      grid-row: 36 / 48;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: 18 / -4;
      grid-row: 32 / 44;
    }
  }

  .image-2 {
    grid-column: 2 / -2;
    grid-row: 42 / 48;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 48 / 54;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 52 / 60;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-column: 2 / 12;
      grid-row: 38 / 46;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: 4 / 16;
      grid-row: 34 / 42;
    }
  }

  .project-page_grid_screen-collection {
    grid-column: 1 / -1;
    grid-row: 49 / 65;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 55 / 74;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 61 / 71;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-row: 48 / 60;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-row: 44 / 58;
    }

    .grid_cell_container {
      @apply flex-row flex-wrap;
      @apply justify-evenly items-center gap-5;
      @apply bg-project-club-sofa;
      img {
        @apply w-1/3;
      }
    }
  }

  .image-3 {
    grid-column: 2 / -2;
    grid-row: 66 / 72;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 75 / 81;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 72 / 82;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-row: 62 / 76;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: 4 / -4;
      grid-row: 60 / 74;
    }
  }

  .paragraph-2 {
    grid-row: 72 / 80;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 81 / 84;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 82 / 88;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-row: 76 / 86;
      grid-column: 2 / 14;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: 4 / 14;
      grid-row: 74 / 86;
    }
  }

  .video-3 {
    grid-column: 2 / -2;
    grid-row: 80 / 86;
    @apply p-thin;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 89 / 99;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-column: 4 / -4;
      grid-row: 88 / 98;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-row: 86 / 98;
      grid-column: 2 / 14;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: 4 / 14;
      grid-row: 86 / 96;
    }
  }

  .image-4 {
    grid-column: 2 / -2;
    grid-row: 87 / 99;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 100 / 116;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-column: 2 / 8;
      grid-row: 99 / 109;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-row: 82 / 98;
      grid-column: 16 / -2;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: 16 / -4;
      grid-row: 80 / 96;
    }
  }

  .image-5 {
    grid-column: 1 / -1;
    grid-row: 100 / 106;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 117 / 127;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 110 / 122;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-row: 100 / 108;
      grid-column: 14 / -2;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: 14 / -4;
      grid-row: 98 / 106;
    }
  }

  .image-6 {
    grid-column: 2 / -2;
    grid-row: 107 / 115;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 128 / 138;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-column: 9 / -2;
      grid-row: 99 / 107;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-row: 100 / 108;
      grid-column: 2 / 12;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: 4 / 12;
      grid-row: 98 / 106;
    }
  }

  .page-title {
    @apply text-project-club-sofa;
  }
}
