@import "./imports.css";

#footer {
  @apply relative grid w-full gap-[2px];
  @apply p-[2px];
}

.footer_grid_title {
  grid-row: -2 / -1;
  grid-column: 2 / -1;
  @apply flex flex-row justify-end items-stretch;

  @media screen and (min-width: 480px) {
    grid-row: -3 / -1;
    grid-column: 1 / -1;
  }

  @media screen and (min-width: 768px) {
    grid-row: -3 / -1;
    grid-column: 2 / -1;
  }

  @media screen and (min-width: 1024px) {
    @apply justify-start;
    grid-row: -2 / -1;
    grid-column: 1 / 12;
  }

  @media screen and (min-width: 1280px) {
    grid-row: -2 / -1;
    grid-column: 5 / -1;
    @apply justify-end;
  }
}

.footer_grid_text {
  grid-row: -2 / -4;
  grid-column: 1 / 4;

  p {
    @apply p-5;
  }
}

.grid_cell.footer_grid_contact {
  @apply flex flex-col justify-self-end;

  a {
    @apply bg-project-trainworld fill-white;
    @apply w-full aspect-square;
    @apply flex justify-center items-center;
    @apply hover:bg-white hover:fill-project-trainworld;

    svg {
      @apply w-4/5;
    }
  }

  grid-column: -1 / -2;
  grid-row: -2 / -3;

  @apply w-1/2;

  @media screen and (min-width: 480px) {
    grid-row: -3 / -4;
  }

  @media screen and (min-width: 1024px) {
    grid-row: -2 / -3;
  }

  svg {
    @apply w-3/5 h-3/5;
  }
}

.footer_grid_back-home {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  @apply flex flex-row justify-start items-center;
  height: calc(50% - 1px);

  &:hover {
    @apply bg-project-trainworld;
    @apply text-white;

    .footer_grid_back-home_icon {
      @apply bg-white;
      svg {
        @apply stroke-project-trainworld;
      }
    }
  }
}

.footer_grid_back-home_icon {
  @apply flex justify-center items-center;
  @apply h-full aspect-square;
  @apply bg-project-trainworld;

  svg {
    @apply w-4/5;
    @apply stroke-white fill-none;
  }
}
