@import "./imports.css";

.footer {
  @apply relative;
  @apply border-2 border-active box-content;
  @apply overflow-hidden;
}

.footer_grid {
  @apply grid;
  @apply relative z-20;
}

.footer_grid_title {
  grid-row: -5 / -1;
  grid-column: 1 / -1;
  @apply text-right;

  @apply pt-thick;

  @media (min-width: theme(--breakpoint-xs)) {
    grid-column: 3 / -1;
    @apply pl-thick;
  }

  @media (min-width: theme(--breakpoint-sm)) {
    grid-column: 7 / -1;
  }

  @media (min-width: theme(--breakpoint-md)) {
    .grid_cell_container {
      @apply justify-end;
    }
    grid-row: -3 / -1;
    grid-column: 7 / -1;
  }

  @media (min-width: theme(--breakpoint-lg)) {
    grid-column: -19 / -1;
  }
}

.footer_grid_text {
  grid-row: -5 / -11;
  grid-column: 1 / 9;

  @apply p-thick pl-0;

  .grid_cell_container {
    @apply px-15;
  }

  @media (min-width: theme(--breakpoint-xs)) {
    grid-row: -5 / -11;
    grid-column: 1 / 11;
  }

  @media (min-width: theme(--breakpoint-sm)) {
    grid-row: 1 / 7;
    grid-column: 1 / 11;
    @apply pt-0;
  }

  @media (min-width: theme(--breakpoint-md)) {
    grid-row: 1 / 7;
    grid-column: 1 / 11;
  }

  @media (min-width: theme(--breakpoint-lg)) {
    grid-row: -1 / -5;
    grid-column: 1 / 11;
    @apply pt-thick pb-0;
  }

  p {
    @apply p-5;
  }
}

.grid_cell.footer_grid_contact {
  a {
    @apply bg-active fill-white;
    @apply w-full aspect-square;
    @apply flex justify-center items-center;

    &:hover,
    &:focus-within {
      @apply bg-white;
      @apply fill-active;
    }

    svg {
      @apply w-4/5;
    }
  }

  &.mail {
    grid-column: -1 / -2;
    grid-row: 1 / 2;
  }

  &.linkedin {
    grid-column: -1 / -2;
    grid-row: 2 / 3;
  }

  &.pixelfed {
    grid-column: -1 / -2;
    grid-row: 3 / 4;
  }

  svg {
    @apply w-3/5 h-3/5;
  }
}
