@import "./imports.css";

.project-page {
  @apply absolute;
  @apply flex flex-col items-center gap-15;
  @apply pb-15;
}

.project-page-header-video {
  @apply border-solid border-2 border-active box-content;
  @apply w-full;
}

.project-page-container {
  @apply relative;
  @apply border-2 border-active box-content;
  @apply overflow-hidden;
}

.project-page_grid {
  @apply grid;
  @apply relative z-10;
}

.project-page-cell {
  @apply overflow-hidden;
  @apply bg-white;
}

.project-page_link {
  @apply bg-active text-white;

  a {
    @apply flex items-center justify-center;
    @apply h-full w-full;
  }
}

.project-page_grid_title {
  grid-column: 1 / -1;

  @apply pb-thick;
  @apply text-active;
}

.project-page_grid_category {
  .grid_cell_container {
    @apply justify-end pr-15;
  }

  &.first {
    grid-row: 7 / 8;
    @apply pt-thick pb-thin;

    @media (min-width: theme(--breakpoint-sm)) {
      @apply pt-0 pb-thin;
    }
  }

  &.second {
    grid-row: 8 / 9;
    @apply pt-thin pb-thick;
  }

  &.ux {
    grid-column: -3 / -1;
    @apply pl-thick;

    @media (min-width: theme(--breakpoint-md)) {
      grid-column: -5 / -3;
      @apply px-thick;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: -7 / -5;
    }
  }

  &.design {
    grid-column: -4 / -1;
    @apply pl-thin;

    @media (min-width: theme(--breakpoint-md)) {
      grid-column: -7 / -3;
      @apply px-thick;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: -8 / -5;
    }
  }

  &.motion {
    grid-column: -4 / -1;
    @apply pl-thin;

    @media (min-width: theme(--breakpoint-md)) {
      grid-column: -7 / -3;
      @apply px-thick;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: -8 / -5;
    }
  }

  &.dev {
    grid-column: -4 / -1;
    @apply pl-thin;

    @media (min-width: theme(--breakpoint-md)) {
      grid-column: -5 / -3;
      @apply px-thick;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: -7 / -5;
    }
  }
}

.project-page_grid_year {
  grid-column: -3 / -1;
  grid-row: 5 / 6;

  @apply pl-thick pt-thick pb-thin;

  .grid_cell_container {
    @apply justify-center;
    @apply italic;
  }

  @media (min-width: theme(--breakpoint-xs)) {
    grid-column: -4 / -1;
    @apply pl-thin;
  }

  @media (min-width: theme(--breakpoint-sm)) {
    grid-column: 1 / 4;
    @apply pl-thin;
  }

  @media (min-width: theme(--breakpoint-md)) {
    grid-column: 3 / 6;
    @apply pl-thick pr-thin;
  }

  @media (min-width: theme(--breakpoint-lg)) {
    grid-column: 5 / 8;
  }
}

.project-page_grid_description {
  grid-column: 1 / -1;
  @apply py-thick;

  @media (min-width: theme(--breakpoint-sm)) {
    grid-column: 1 / -7;
    @apply pr-thick;
  }

  @media (min-width: theme(--breakpoint-md)) {
    grid-column: 3 / 17;
    @apply pl-thick;
  }

  @media (min-width: theme(--breakpoint-lg)) {
    grid-column: 5 / 19;
  }
}

.project-page_grid_icon {
  grid-column: 1 / 5;
  grid-row: 5 / 9;
  @apply p-thick pl-0;

  @media (min-width: theme(--breakpoint-sm)) {
    grid-column: -7 / -1;
    grid-row: 7 / 13;
    @apply p-thick pr-0;
  }

  @media (min-width: theme(--breakpoint-md)) {
    grid-column: -9 / -3;
    grid-row: 7 / 13;
  }

  @media (min-width: theme(--breakpoint-lg)) {
    grid-column: -11 / -5;
    grid-row: 7 / 13;
  }
}

.project-page-image,
.project-page-video {
  &.border {
    @apply border-2 border-active box-content;
  }

  &.full-width {
    @apply border-y-2 border-active;
  }

  @apply overflow-hidden;
  img,
  video {
    @apply object-cover;
    @apply w-full h-full;
  }
}

.project-page_grid_paragraph {
  grid-column: 2 / -2;

  @media (min-width: theme(--breakpoint-sm)) {
    grid-column: 4 / -4;
  }
}
