@import "./imports.css";

.page-title {
  @apply text-project-qausal;
}

.qausal {
  .project-page_grid_title {
    grid-row: 1 / 3;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 1 / 3;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-column: 1 / 13;
      @apply pr-thick pb-thick;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-column: 3 / 17;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: 5 / 15;
    }
  }

  .project-page_grid_category {
    &.first {
      grid-row: 5 / 6;

      @media (min-width: theme(--breakpoint-sm)) {
        grid-row: 1 / 2;
      }
    }

    &.second {
      grid-row: 6 / 7;

      @media (min-width: theme(--breakpoint-sm)) {
        grid-row: 2 / 3;
      }
    }
  }

  .project-page_grid_year {
    grid-row: 3 / 4;
  }

  .project-page_grid_icon {
    grid-row: 3 / 7;
    @apply p-thick pl-0;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 3 / 5;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 5 / 11;
      @apply p-thick pr-0;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-row: 5 / 11;
    }

    @apply p-thick;
  }

  .project-page_grid_description {
    grid-row: 7 / 13;
  }

  .image-1 {
    grid-row: 14 / 18;
    grid-column: 2 / -2;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 12 / 18;
      grid-column: 2 / -2;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 12 / 21;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-row: 14 / 26;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: 4 / -4;
    }
  }

  .video-1 {
    grid-row: 19 / 27;
    grid-column: 2 / -2;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 19 / 30;
      grid-column: 2 / -2;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 22 / 32;
      grid-column: 2 / -8;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-row: 28 / 40;
      grid-column: 4 / 16;
    }
  }

  .video-2 {
    grid-row: 28 / 32;
    grid-column: 1 / -1;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 31 / 37;
      grid-column: 1 / -1;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 33 / 39;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-row: 42 / 50;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-row: 42 / 52;
    }
  }

  .paragraph-1 {
    grid-row: 32 / 42;
    grid-column: 2 / -2;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 37 / 44;
      grid-column: 2 / -2;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 39 / 46;
      grid-column: 2 / 12;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-row: 50 / 58;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-row: 52 / 58;
      grid-column: 4 / 14;
    }
  }

  .image-2 {
    grid-row: 42 / 48;
    grid-column: 2 / -2;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 44 / 54;
      grid-column: 2 / -2;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 46 / 57;
      grid-column: 2 / -2;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-row: 58 / 70;
      grid-column: 10 / -2;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: 12 / -4;
    }
  }

  .image-3 {
    grid-row: 49 / 56;
    grid-column: 2 / -2;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 55 / 65;
      grid-column: 2 / -2;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 58 / 67;
      grid-column: 4 / -2;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-row: 72 / 84;
      grid-column: 2 / -6;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: 6 / -6;
    }
  }

  .video-3 {
    grid-row: 57 / 62;
    grid-column: 1 / -1;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 66 / 73;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 68 / 76;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-row: 86 / 98;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-row: 86 / 100;
    }
  }

  .image-4 {
    grid-row: 63 / 70;
    grid-column: 2 / -2;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 74 / 85;
      grid-column: 2 / -2;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 77 / 86;
      grid-column: 2 / 10;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-row: 100 / 110;
      grid-column: 2 / 14;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-row: 102 / 114;
      grid-column: 4 / 16;
    }
  }

  .paragraph-2 {
    grid-row: 70 / 80;
    grid-column: 2 / -2;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 85 / 93;
      grid-column: 2 / -2;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 78 / 86;
      grid-column: 10 / -2;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-row: 102 / 110;
      grid-column: 14 / -2;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-row: 108 / 114;
      grid-column: 16 / -4;
    }
  }

  .video-4 {
    grid-row: 80 / 90;
    grid-column: 1 / -1;
    @apply border-x-0;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 94 / 108;
      grid-column: 1 / -1;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 87 / 105;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-row: 112 / 132;
      grid-column: 4 / -4;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-row: 116 / 136;
      grid-column: 6 / -6;
    }
  }

  .image-5 {
    grid-row: 91 / 96;
    grid-column: 2 / -2;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 109 / 116;
      grid-column: 2 / -2;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 106 / 115;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-row: 134 / 146;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-row: 138 / 150;
      grid-column: 4 / -4;
    }
  }
}
