@theme {
  --breakpoint-xs: 480px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1440px;

  --spacing-thin: 0.25px;
  --spacing-thick: 1px;
  --spacing-5: 5px;
  --spacing-15: 15px;
  --spacing-30: 30px;
  --spacing-60: 60px;
  --spacing-120: 120px;
  --spacing-240: 240px;

  --color-white: #eeeeee;
  --color-black: #111111;
  --color-active: var(--color-active);
  --color-project-trainworld: #de2217;
  --color-project-clubsofa: #3aab94;
}
