@import "./imports.css";
.train-world {
  .project-page_grid_title {
    grid-row: 1 / 5;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 1 / 3;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-column: 1 / 13;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-column: 3 / 17;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: 3 / 15;
    }
  }

  .project-page_grid_category {
    &.first {
      grid-row: 5 / 6;
      @apply pt-thick pb-thin;

      @media (min-width: theme(--breakpoint-xs)) {
        grid-row: 3 / 4;
      }

      @media (min-width: theme(--breakpoint-sm)) {
        grid-row: 1 / 2;
      }
    }

    &.second {
      grid-row: 6 / 7;
      @apply pt-thin pb-thick;

      @media (min-width: theme(--breakpoint-xs)) {
        grid-row: 4 / 5;
      }

      @media (min-width: theme(--breakpoint-sm)) {
        grid-row: 2 / 3;
      }
    }
  }

  .project-page_grid_icon {
    grid-row: 5 / 7;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 3 / 5;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-row: 1 / 3;
    }
  }

  .project-page_grid_description {
    grid-row: 7 / 13;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 5 / 11;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-row: 5 / 13;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-row: 5 / 11;
    }
  }

  .video-1 {
    grid-column: 2 / -2;
    grid-row: 23 / 27;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 25 / 31;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 27 / 35;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-column: 12 / -2;
      grid-row: 16 / 24;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: 4 / -4;
      grid-row: 14 / 24;
    }
  }

  .image-1 {
    grid-column: 2 / -2;
    grid-row: 14 / 22;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 12 / 24;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 12 / 26;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-column: 2 / 10;
      grid-row: 16 / 24;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: 4 / -4;
      grid-row: 26 / 36;
    }
  }

  .video-2 {
    grid-column: 2 / -2;
    grid-row: 23 / 27;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 25 / 31;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 27 / 35;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-column: 12 / -2;
      grid-row: 16 / 24;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: 4 / 14;
      grid-row: 38 / 48;
    }
  }

  .paragraph-1 {
    grid-row: 34 / 42;
    @apply p-thin;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 40 / 48;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 46 / 52;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-column: 14 / -2;
      grid-row: 36 / 48;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: 14 / -4;
      grid-row: 40 / 48;
    }
  }

  .image-2 {
    grid-column: 2 / -2;
    grid-row: 14 / 22;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 12 / 24;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 12 / 26;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-column: 2 / 10;
      grid-row: 16 / 24;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: 20 / -4;
      grid-row: 48 / 58;
    }
  }

  .image-3 {
    grid-column: 2 / -2;
    grid-row: 14 / 22;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 12 / 24;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 12 / 26;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-column: 2 / 10;
      grid-row: 16 / 24;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: 4 / 18;
      grid-row: 50 / 60;
    }
  }

  .video-3 {
    grid-column: 2 / -2;
    grid-row: 23 / 27;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 25 / 31;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 27 / 35;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-column: 12 / -2;
      grid-row: 16 / 24;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: 4 / -4;
      grid-row: 62 / 68;
    }
  }

  .video-4 {
    grid-column: 2 / -2;
    grid-row: 23 / 27;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 25 / 31;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 27 / 35;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-column: 12 / -2;
      grid-row: 16 / 24;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: 4 / -4;
      grid-row: 70 / 76;
    }
  }

  .paragraph-2 {
    grid-row: 34 / 42;
    @apply p-thin;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 40 / 48;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 46 / 52;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-column: 14 / -2;
      grid-row: 36 / 48;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: 14 / -4;
      grid-row: 80 / 90;
    }
  }

  .video-5 {
    grid-column: 2 / -2;
    grid-row: 23 / 27;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 25 / 31;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 27 / 35;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-column: 12 / -2;
      grid-row: 16 / 24;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: 4 / 14;
      grid-row: 78 / 88;
    }
  }

  .video-6 {
    grid-column: 2 / -2;
    grid-row: 23 / 27;

    @media (min-width: theme(--breakpoint-xs)) {
      grid-row: 25 / 31;
    }

    @media (min-width: theme(--breakpoint-sm)) {
      grid-row: 27 / 35;
    }

    @media (min-width: theme(--breakpoint-md)) {
      grid-column: 12 / -2;
      grid-row: 16 / 24;
    }

    @media (min-width: theme(--breakpoint-lg)) {
      grid-column: 4 / -4;
      grid-row: 90 / 100;
    }
  }
}
