<div class="wrapper">
    <h1 class="arrow"><a [routerLink]="['/home']">&#8592;</a></h1>
    <h1 class="title">Adam</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio ad eum voluptatem eaque voluptatibus quas ipsa labore! Illum inventore pariatur quos voluptatum, itaque obcaecati dolorum voluptas? Necessitatibus itaque quia sapiente.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio ad eum voluptatem eaque voluptatibus quas ipsa labore! Illum inventore pariatur quos voluptatum, itaque obcaecati dolorum voluptas? Necessitatibus itaque quia sapiente.</p>
</div>

