
body
{
    width: 100%;
    height: 100%;
    margin: 0px;
   
}

*
{
    font-family: "Merriweather Sans", sans-serif;
    cursor: url(/assets/mouse.png), pointer;
}


a
{
  color: #000000;
  text-decoration: none;
  cursor: url(/assets/click.png), pointer;
}

.back
{
    cursor: url(/assets/click.png), pointer;
}

h1:hover, h1:focus
{
    text-shadow: 1.5px 1.5px #ff5757, -1.5px -1.5px #00ffea;
    cursor: url(/assets/click.png), pointer;
}


.wrapper
{
    padding: 10%;
    padding-right: 20%;
    background-color: white;
}

.title
{
    font-size: 10vw;
    margin: 0;
}

.arrow
{
    margin: 0;
    padding: 0;
}

.br
{
    margin-top: 10%;
    border-bottom: 1px #dddddd solid;
    width: 70%;
}

@media screen and (max-width: 768px)
{
    .title
{
    font-size: 18vw;
    
}
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Merriweather Sans", sans-serif; }
